/* styles for webFundamentals assignments */

.logos{
    height: 15px;
    width: 15px;
}

.profileTile{
    height: 150px;
    width: 150px;
}

.prgrmLanguages, .prgrmLanguages *{
    border: 1px solid;
    width: 25%;
    text-align: left;
}