* {
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.row-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.row-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    color: #f1f1f1;
    padding: 5px;
    border: 2px solid black;
    font-size: 16px;
    margin: 5px;
}
#nav-bar .btn{
    background-color: #15a1b7;
}
.column-posts{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.column-user{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}
.column-friends{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}
#nav-bar{
    background-color: #333333;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    margin-bottom: 20px;
}
#nav-bar h1{
    color: #f1f1f1;
    font-size: 32px;
    margin: 5px;
}
.page-content{
    min-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.post{
    background-color: ivory;
    border: 3px solid black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.post-info{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 33.33333%;
    width: 100%;
}
.post-text-holder{
    height: 66.66667%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-text{
    font-size: 16px;
    padding: 20px;
    word-wrap: normal;
}

#loggedOut{
    background-color: silver;
    height: 1000px;
    width: 100%;
    position: absolute;
}

.post-likes{
    font-size: 18px;
}

.user-card{
    background-color: ivory;
    border: 3px solid black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


.search-bar{
    font-size: 16px;
    padding: 4px;
}

.icon-current-user{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: 20px 20px;
}

.icon-user{
    background-color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 10px 10px;
}


.liked-true{
    background-color: darkgrey;
}
.liked-false{
    background-color: #15a1b7;
}

.friend-requests{
    background-color: ivory;
    border: 3px solid black;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.friend-list{
    background-color: ivory;
    border: 3px solid black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}










.banner{
    background-color: black;
    color:  #f1f1f1;
    min-height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.request-count{
    background-color: green;
    height: 18px;
    min-width: 18px;
    border-radius: 15px;
    font-size: 16;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.friend-row{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0px;
}


.icon-request{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 10px 5px;
}


.button-request{
    background-color: ivory;
}